@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*   VARIABLES   */

:root {
  --font-family: "Poppins", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #2b3133;
  --secondary-bg-color: #3f4e4f;
  --font-color: #e1e3c2;
  --hover-color: #dfd27d;
  --shadow: #fff399;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  color: var(--hover-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

/*  NAVBAR  */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.5rem;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 2px 2px var(--shadow);
}

.navbar h1 {
  color: var(--font-color);
}

.navbar a {
  color: var(--font-color);
  transition: var(--transition);
}

.navbar a:hover {
  color: var(--hover-color);
  border-bottom: 2px solid var(--hover-color);
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar ul li {
  font-weight: var(--normal-font);
}

.menu-hamburguesa {
  color: var(--font-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/*   ABOUT-ME   */

.about-me {
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
  padding: 1rem 6rem;
  
}

.about-me img {
  height: 34rem;
  width: 28rem;
  border-radius: 20%;
}

.bio {
  background-color: var(--secondary-bg-color);
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 10px 2px var(--shadow);
}

.bio h2 {
  color: var(--shadow);
  margin-bottom: var(--bottom-margin);
}

.bio h3 {
  white-space: nowrap;
  width: 21ch;
  animation: typing 2.5s steps(21);
  overflow: hidden;
}

@keyframes typing {
  from { width: 0 }
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

/*   MORE ABOUT-ME   */

.more-about-me {
  color: var(--font-color);
  margin-top: 2rem;
  padding: 1rem 6rem;
}

.more-about-me h2 {
  color: var(--shadow);
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

/*   SKILLS   */

.skills {
  color: var(--font-color);
  text-align: center;
  margin-top: 2rem;
}

.header-skills {
  color: var(--shadow);
  margin: 1rem;
}

.header-skill {
  margin: 1rem;
}

.icon {
  width: 8rem;
  height: 8rem;
}

.icon-card {
  background-color: var(--secondary-bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--shadow);
  padding: 20px;
  margin: 10px;
}

/*   PROJECTS  */

.proyectos {
  color: var(--font-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 100%;
  height: 100%;
}

.contenedor-de-proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-de-proyectos {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--shadow);
}

.contenedor-de-proyecto {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.titulo-de-proyecto {
  color: var(--shadow);
  font-weight: var(--bold-font);
  margin-bottom: var(--bottom-margin);
}

.detalles-de-proyecto {
  text-align: left;
  margin-bottom: var(--bottom-margin);
}

.tarjeta-de-proyecto {
  background-color: var(--secondary-bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--shadow);
  padding: 20px;
  margin: 10px;
}

.enlace-de-proyecto{
  color: var(--shadow);
  font-weight: var(--bold-font);
}

/*   CONTACT   */

.contacto {
  color: var(--font-color);
  margin-top: 2rem;
}

.contacto h2 {
  color: var(--shadow);
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contenedor-formulario-contacto {
  background-color: var(--secondary-bg-color);
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--shadow);
}

.contenedor-formulario-contacto label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--font-color);
}

.contenedor-formulario-contacto textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contenedor-formulario-contacto .input-field {
  width: 100%;
  padding: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--font-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--bg-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--font-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  color: var(--bg-color);
  background-color: var(--shadow);
  border: 2px solid var(--bg-color);
  cursor: pointer;
}

/*   RRSS   */

.sociales {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/*  FIN RRSS   */

/*  TO-UP   */

.desplazarse-hacia-arriba {
  position: fixed;
  left: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.flecha-arriba {
  width: 3rem;
  height: 3rem;
}

/*  FOOTER   */

footer {
  color: var(--font-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

/*   RESPONSIVE 720PX   */

@media screen and (max-width: 720px) {

  /*   NAVBAR RESPONSIVE   */
  .navbar {
    padding: 1.5rem 1rem;
  }

  .navbar ul {
    position: fixed;
    background-color: var(--secondary-bg-color);
    flex-direction: column;
    top: 87px;
    left: 10%;
    width: 90%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.8s ease-in;
  }

  .navbar ul li {
    margin: 8px;
  }

  .menu-hamburguesa {
    display: block;
  }

  .navbar ul.show {
    transform: translateX(0);
  }

  /*   ABOUT-ME RESPONSIVE   */
  .about-me {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .about-me img {
    height: 34rem;
    width: 28rem;
    border-radius: 20%;
    margin-left: -1rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  /*   MÁS SOBRE MÍ RESPONSIVE   */
  .mas-sobre {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .mas-sobre h2 {
    text-align: center;
  }

  .mas-sobre p {
    text-align: justify;
  }

  /*   HABILIDADES RESPONSIVE  */
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  /*   PROYECTOS RESPONSIVE  */
  .contenedor-de-proyectos {
    flex-direction: column;
  }

  .contenedor-de-proyecto {
    width: 20.875rem;
  }

  /*   CONTACTO RESPONSIVE  */
  .contenedor-formulario-contacto {
    max-width: 23.75rem;
  }
}

/*   RESPONSIVE 420PX   */

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .contenedor-de-proyecto {
    width: 17.875rem;
  }

  .contenedor-formulario-contacto{
    max-width: 17.75rem;
  }
} 