@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*   VARIABLES   */
:root {
  --font-family: "Lato", serif;
  --bold-font: 700;
  --bg-color: #0b0a13; 
  --secondary-bg-color: #0b0a19;
  --font-color: #dde5b9;
  --secondary-font-color: #e1e185;
  --bottom-margin: 0.5rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  color: var(--font-color);
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  background-color: var(--bg-color);
}

/*  NAVBAR  */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .4rem 3.5rem;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 1px 1px var(--secondary-font-color);
}

.title-navbar {
  color: var(--secondary-font-color);
  margin-left: 2.5rem;
}

.nav-link {
  color: var(--secondary-font-color);
  transition: var(--transition);
  margin-right: 2.5rem;
}

.nav-link:hover {
  color: var(--font-color);
  border-bottom: 2px solid var(--secondary-font-color);
}

.links-navbar {
  display: flex;
  gap: 1rem;
}

.burger-menu {
  color: var(--secondary-font-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none; 
}

/*   ABOUT-ME   */
.about-me {
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 2rem 6rem;
}

.img-me {
  width: 25%;
  height: 25%;
  border-radius: 20%;
}

.bio {
  padding: 0.5rem;
}

.bio-title {
  color: var(--font-color);
  margin-bottom: var(--bottom-margin);
}

.span-title {
  color: var(--secondary-font-color);
}

.bio-subtitle {
  margin-bottom: var(--bottom-margin);
}

.bio-text {
  line-height: var(--line-height);
  padding: 0.2rem 0;
}

/*   RRSS   */
.rrss {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  background-color: var(--bg-color);
  transition: var(--transition);
  border-radius: .5rem;
  border: 1px solid var(--secondary-font-color);
  padding: 0 .2rem;
}

.btn:hover {
  transform: scale(1.2);
}

.btn>a {
  color: var(--secondary-font-color);
  font-size: 12px;
}

.socicon {
  width: 2rem;
  height: 2rem;
  background-color: var(--secondary-font-color);
  border: 1px solid var(--secondary-font-color);
  transition: var(--transition);
  object-fit: cover;
}

.socicon:hover {
  transform: scale(1.2);
}

/*   MORE ABOUT ME   */
.more-about-me {
  color: var(--font-color);
  padding: 1rem 6rem;
}

.more-about-me h2 {
  color: var(--secondary-font-color);
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

/*   SKILLS   */
.skills {
  color: var(--font-color);
  text-align: center;
  margin-top: 1rem;
}

.header-skills {
  color: var(--secondary-font-color);
  margin-bottom: var(--bottom-margin);
}

.skills-description {
  text-align: start;
  padding: 0 6rem;
}

.header-skill {
  margin: 1rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.icon-card {
  background-color: var(--secondary-bg-color);
  border-radius: 11px;
  box-shadow: 0 2px 4px var(--secondary-font-color);
  padding: 20px;
  margin: 5px;
}

.icon-card-project {
  transition: var(--transition);
  object-fit: cover;
}

.icon-card-project:hover {
  transform: scale(1.2);
}

/*   PROJECTS  */
.projects {
  color: var(--font-color);
  padding: 28px 0;
  margin: 2rem 4rem;
}

.projects-title {
  text-align: center;
  margin-bottom: var(--bottom-margin);
  color: var(--secondary-font-color);
}

.projects-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card {
  background-color: var(--secondary-bg-color);
  border-radius: 11px;
  box-shadow: 0 2px 4px var(--secondary-font-color);
  padding: 1rem;
  margin: 1rem;
}

.project-title {
  color: var(--secondary-font-color);
  font-weight: var(--bold-font);
  margin-bottom: var(--bottom-margin);
}

.project-details {
  text-align: left;
  margin-bottom: var(--bottom-margin)
}

.icon-project {
  width: 2.5rem;
  height: 2.5rem;
  transition: var(--transition);
  object-fit: cover;
}

.icon-project:hover {
  transform: scale(1.2);
}

.icon-card-project {
  background-color: var(--secondary-bg-color);
  border-radius: 11px;
  box-shadow: 0 2px 4px var(--secondary-font-color);
  padding: 5px;
  margin: 5px;
}

#handlebars, #socket, #jinja {
  transition: var(--transition);
  background-color: #242938;
}

#github {
  border-radius: 50%;
  margin-top: 0.4rem;
}

.project-link {
  padding: 1rem 0 0;
  color: var(--secondary-font-color);
}

/* --- --- CARRUSEL --- --- */
.carrusel__contenedor {
	position: relative;
}

.carrusel__anterior,
.carrusel__siguiente {
	position: absolute;
	display: block;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	background: none;
	color: var(--secondary-font-color);
}

.carrusel__anterior {
	left: 10px;
}

.carrusel__siguiente {
	right: 10px;
}

.carrusel__lista {
  max-width: 32rem;
	overflow: hidden;
}

.carrusel__elemento {
	text-align: center;
}

.carrusel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: var(--secondary-font-color);
	opacity: 1;
	border-radius: 0;
}

.carrusel__indicadores .glider-dot:hover {
	opacity: .7;
}

.carrusel__indicadores .glider-dot.active {
	opacity: .5;
}

/*   CONTACT   */
.contact {
  color: var(--font-color);
  margin-top: 2rem;
}

.contact-title {
  color: var(--secondary-font-color);
  text-align: center;
  margin-bottom: var(--bottom-margin);
}

.contact-container {
  background-color: var(--secondary-bg-color);
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--secondary-font-color);
}

.btn-contact {
  background-color: var(--secondary-bg-color);
  transition: var(--transition);
  padding: .1rem;
  border-radius: 1rem;
  border: 1px solid var(--secondary-font-color);
  width: 100%;
  height: 2rem;
}

.btn-contact:hover {
  transform: scale(1.02);
}

.btn-contact>a {
  color: var(--secondary-font-color);
  font-size: 18px;
}

.contact-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--font-color);
}

.contact-container textarea {
  min-height: 5rem;
  font-size: 16px;
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--font-color);
  font-size: 1rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--bg-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--secondary-font-color);
  border: 2px solid var(--font-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  color: var(--secondary-bg-color);
  background-color: var(--font-color);
  border: 2px solid var(--font-color);
  cursor: pointer;
}

/*  FOOTER   */
footer {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 2rem;
  color: var(--font-color);
  padding: 1.25rem;
  margin: 2rem 0 0;
  align-items: center;
}

.footer-me {
  color: var(--secondary-font-color);
}

/*  TO-UP   */
.to-up { 
  margin-top: .5rem;
  cursor: pointer;
}

.up {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

/*   RESPONSIVE 900PX   */
@media screen and (max-width: 900px) {

  .title-navbar {
    margin-left: 2.5rem;
  }

  .links-navbar {
    font-size: 16px;
  }

  .about-me {
    margin-top: -2rem;
    flex-direction: column;
    gap: 0;
    padding: 0 5rem 0 5rem;
  }
  
  .img-me {
    height: 10rem;
    width: 12rem;
    border-radius: 20%;
    margin-top: 3rem;
  }

  .bio-title {
    text-align: center;
    margin-bottom: 0;
  }

  .bio-subtitle {
    text-align: center;
  }
}

/*   RESPONSIVE 768PX   */
@media screen and (max-width: 768px) {

  /*   NAVBAR RESPONSIVE   */
  .navbar {
    padding: .5rem .5rem;
  }

  .title-navbar {
    margin-left: .5rem;
  }

  .links-navbar {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 3.53rem;
    width: 100%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.8s ease-in;
  }

  .navbar ul li {
    margin: 16px;
  }

  .burger-menu {
    display: block;
    margin-right: .5rem;
  }

  .links-navbar.show {
    transform: translateX(0);
  }

  /*   ABOUT ME RESPONSIVE   */
  .about-me {
    margin-top: -2rem;
    flex-direction: column;
    gap: 0;
    padding: 0 2.5rem 0 2.5rem;
  }
  
  .img-me {
    height: 8rem;
    width: 10rem;
    margin-top: 3rem;
  }

  .bio-title {
    text-align: center;
    margin-bottom: 0;
  }

  .bio-subtitle {
    text-align: center;
  }

  /*   MORE ABOUT ME RESPONSIVE   */
  .more-about-me {
    margin-top: 1rem;
    padding: 0;
  }

  .more-about-me h2 {
    text-align: center;
  }

  .more-about-me p {
    padding: 0 3rem 0 3rem;
  }

  /*   SKILLS RESPONSIVE  */
  .header-skills {
    margin: 0;
  }

  .skills-description {
    padding: 1rem 3rem 0 3rem;
    text-align: start;
  }

  .container-skills {
    padding: 0rem 3rem 0 3rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }

  /*   PROJECTS RESPONSIVE  */
  .proyects {
    margin-top: 0;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-card {
    width: 28rem;
  }

  /*   CONTACT RESPONSIVE   */
  .contact-container {
    width: 30rem;
  }

  footer {
    text-align: center;
  }
}

/*   RESPONSIVE 480PX   */
@media screen and (max-width: 480px) {
  .about-me {
    padding: 0 1rem 0 1rem;
  }

  .socicon {
    margin-top: 3rem;
  }

  .rrss {
    gap: .6rem;
  }

  /*   MORE ABOUT-ME RESPONSIVE   */
  .more-about-me {
    padding: 0;
  }

  .more-about-me h2 {
    text-align: center;
  }

  .more-about-me p {
    padding: 0 1.5rem 0 1.5rem;
  }

  /*   SKILLS RESPONSIVE   */
  .skills-description {
    padding: .5rem 1.5rem 0 1.5rem;
    text-align: start;
  }

  .container-skills {
    padding: .5rem 1.5rem 0 1.5rem;
  }

  .icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  /*   PROJECTS RESPONSIVE   */
  .projects {
    margin: 0;
  }

  .project-card {
    width: 10rem;
  }

  .carrusel__lista {
    max-width: 17rem;
    overflow: hidden;
  }
  
  /*   CONTACT RESPONSIVE   */
  .contact-container {
    max-width: 17rem;
  }

  footer {
    text-align: center;
  }
} 

/*   RESPONSIVE 320PX   */
@media screen and (max-width: 320px) {
  .rrss {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    height: 6rem;
  }

  .projects {
    margin: 0 2rem;
  }

  .project-card {
    width: 13rem;
  }

  .carrusel__lista {
    max-width: 15rem;
    overflow: hidden;
  }
  
  /*   CONTACT RESPONSIVE   */
  .contact {
    margin-top: -2rem;
  }

  .contact-container {
    max-width: 13rem;
  }

  footer {
    text-align: center;
  }
}